{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
        <h2>Upload recipes</h2>
        <p> Start sharing your recipe to the community!</p>

        <form id="upload-file" action="/upload" method="post" enctype="multipart/form-data">
            <div class="container-sm">
                <div class="container-sm mb-2">
                    <p class="h5">Recipe Name</p>
                </div>
                <div class="container-sm mb-3"> 
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto d-inline" id="recipe-name" name="recipe-name" type="text">
                </div>
            </div>
            <div class="container-sm">
                <div class="form-group text-start">
                    <label for="recipe-ing" class="form-label">Insert only basic ingredients, consider most important only! Just for searching purposes</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="recipe-ing" name="recipe-ing" placeholder="Separate by commas please">
                    </div>
                </div>
            </div>
            <div class="container-sm">
                <div class="form-group text-start">
                    <label for="recipe-total-ing" class="form-label">Complete every recipe's ingredient to do it perfectly!</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="recipe-total-ing" name="recipe-total-ing" placeholder="Separate by commas please">
                    </div>
                </div>
            </div>
            <div class="container-sm mb-3">
                <div class="form-group text-start">
                    <div class="input-group">
                        <span class="input-group-text">Type recipe here:</span>
                        <textarea class="form-control" id="recipe-txt" name="recipe-txt" aria-label="recipe-instructions"></textarea>
                    </div>
                </div>
            </div>
            <div class="container-sm ">     
                <div class="form-group ">
                        <label for="drop-area">Drop Image below</label>
                        <div id="drop-area" class="form-control mb-3" ondragenter="dropColor(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
                        <input name="file" type="file" id="input-hidden" style="display: block;">
                </div>
            </div>
            
            <button class="btn btn-primary mt-5" type="submit" id="btn-upload">Upload</button>
        
        </form>
        <!--
            
        <div class="row mb-3">
            <div class="col-5 text-end"><p class="d-inline"><span class="align-middle">Password</span></p></div>
            <div class="col-7 text-start">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto d-inline" id="pass" name="password" placeholder="Password" type="password" onfocusout="validate_pass()">
                <p id="pass_msg" class="d-inline text-danger"></p>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-5 text-end"><p class="d-inline"><span class="align-middle">Confirmation</span></p></div>
            <div class="col-7 text-start">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto d-inline" id="pwconf" name="confirmation" placeholder="Retype password" type="password" onfocusin="validate_confirmation()">
                <p id="pwconf_msg" class="d-inline"></p>
            </div>
        </div>
        -->
   

{% endblock %}
